* {
	margin: 0;
}
.CustomerPage {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8aGQU7d5Mm9Ku3n8Jp0KhECbCHIdHluDnpA&usqp=CAU");
	
background-size: cover;
     background-attachement: fixed; 
	height: 100vh;
}
.transactionHistory{
         background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-Zse6io-F_yo61Dbq7RLI-9OsLqpi_4Oisw&usqp=CAU");
	
       background-size: cover;
     background-attachement: fixed; 
    height: 350vh;
}
.showData{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8aGQU7d5Mm9Ku3n8Jp0KhECbCHIdHluDnpA&usqp=CAU");
	
background-size: cover;
     background-attachement: fixed; 
	
	height: 100vh;
}
.ThankYou{
    //background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5OjsAy5oPkcT9ZHKvGVZ_8wiI7JDPuNTj0b-gkPrjFaFgvMGnMGz--ezHM8oC1CHEQRk&usqp=CAU');
    background-image:url('https://images.unsplash.com/photo-1622219999459-ab5b14e5f45a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGZpbmFuY2lhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
background-size:cover;
    height: 100vh;
}

.Homepage {
	background-image: url("./assets/Banking-System.webp");
	background-size: cover;
	/* background-attachement: fixed; */
	height: 100vh;
}
.content {
	background: black;
	width: 50%;
	padding: 40px;
	margin: 100px auto;
}
.button {
	border: none;
	color: white;
	background-color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
